n8n-workflow.json
{
  "name": "JIRA Analytics Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "url": "https://{{ $json.domain }}/rest/agile/1.0/board",
        "authentication": "basicAuth",
        "basicAuth": {
          "user": "{{ $json.email }}",
          "password": "{{ $json.apiToken }}"
        },
        "options": {
          "queryParameters": {
            "maxResults": "100",
            "projectKeyOrId": "{{ $json.projectKey }}"
          }
        }
      },
      "name": "Get JIRA Boards",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "https://{{ $json.domain }}/rest/agile/1.0/board/{{ $json.boardId }}/issue",
        "authentication": "basicAuth",
        "basicAuth": {
          "user": "{{ $json.email }}",
          "password": "{{ $json.apiToken }}"
        },
        "options": {
          "queryParameters": {
            "maxResults": "1000",
            "startAt": "0"
          }
        }
      },
      "name": "Get Issues for Board",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "url": "https://{{ $json.domain }}/rest/api/3/project/{{ $json.projectKey }}/versions",
        "authentication": "basicAuth",
        "basicAuth": {
          "user": "{{ $json.email }}",
          "password": "{{ $json.apiToken }}"
        }
      },
      "name": "Get Project Versions",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [250, 500]
    },
    {
      "parameters": {
        "functionCode": "const issues = [];\nconst versions = $input('Get Project Versions').all();\nconst versionMap = {};\n\n// Create version lookup\nversions.forEach(v => {\n  if (v.json && v.json.name) {\n    versionMap[v.json.name] = v.json;\n  }\n});\n\n// Process issues from all boards\nfor (const item of $input.all()) {\n  if (item.json && item.json.issues) {\n    item.json.issues.forEach(issue => {\n      const fields = issue.fields || {};\n      const fixVersions = fields.fixVersions || [];\n      \n      // Get version details\n      const startDates = [];\n      const releaseDates = [];\n      const releasedFlags = [];\n      const archivedFlags = [];\n      \n      fixVersions.forEach(fv => {\n        const version = versionMap[fv.name];\n        if (version) {\n          startDates.push(version.startDate || '');\n          releaseDates.push(version.releaseDate || '');\n          releasedFlags.push(String(version.released));\n          archivedFlags.push(String(version.archived));\n        }\n      });\n      \n      issues.push({\n        board_name: item.json.boardName || 'Unknown',\n        issue_key: issue.key,\n        summary: fields.summary || '',\n        status: fields.status?.name || '',\n        assignee: fields.assignee?.displayName || 'Unassigned',\n        reporter: fields.reporter?.displayName || '',\n        issue_type: fields.issuetype?.name || '',\n        priority: fields.priority?.name || '',\n        created: fields.created || '',\n        updated: fields.updated || '',\n        due_date: fields.duedate || '',\n        story_points: fields.customfield_10024 || 0,\n        fix_versions: fixVersions.map(v => v.name).join(', '),\n        epic_link: fields.customfield_10014 || '',\n        fix_version_start_dates: startDates.join(', '),\n        fix_version_release_dates: releaseDates.join(', '),\n        fix_version_released: releasedFlags.join(', '),\n        fix_version_archived: archivedFlags.join(', ')\n      });\n    });\n  }\n}\n\nreturn issues.map(issue => ({ json: issue }));"
      },
      "name": "Transform Data",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [650, 400]
    },
    {
      "parameters": {
        "functionCode": "// Generate CSV output\nconst items = $input.all();\nif (items.length === 0) return [{ json: { csv: '' } }];\n\nconst headers = Object.keys(items[0].json);\nconst csvRows = [headers.join(',')];\n\nitems.forEach(item => {\n  const row = headers.map(header => {\n    const value = item.json[header] || '';\n    // Escape commas and quotes in CSV\n    if (typeof value === 'string' && (value.includes(',') || value.includes('\"'))) {\n      return `\"${value.replace(/\"/g, '\"\"')}\"`;\n    }\n    return value;\n  });\n  csvRows.push(row.join(','));\n});\n\nreturn [{ json: { csv: csvRows.join('\\n'), count: items.length } }];"
      },
      "name": "Generate CSV",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [850, 400]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "write",
        "fileName": "jira_export_{{ new Date().toISOString().split('T')[0] }}.csv",
        "data": "={{ $json.csv }}"
      },
      "name": "Save CSV File",
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1,
      "position": [1050, 400]
    },
    {
      "parameters": {
        "functionCode": "// Generate analytics summary\nconst items = $input('Transform Data').all();\nconst analytics = {\n  totalIssues: items.length,\n  boards: {},\n  users: {},\n  statuses: {},\n  priorities: {},\n  storyPoints: 0\n};\n\nitems.forEach(item => {\n  const data = item.json;\n  \n  // Board stats\n  analytics.boards[data.board_name] = (analytics.boards[data.board_name] || 0) + 1;\n  \n  // User stats\n  if (data.assignee !== 'Unassigned') {\n    if (!analytics.users[data.assignee]) {\n      analytics.users[data.assignee] = { total: 0, completed: 0, points: 0 };\n    }\n    analytics.users[data.assignee].total += 1;\n    analytics.users[data.assignee].points += data.story_points || 0;\n    \n    if (['Done', 'QA Tested', 'Deployed & Ready for QA'].includes(data.status)) {\n      analytics.users[data.assignee].completed += 1;\n    }\n  }\n  \n  // Status stats\n  analytics.statuses[data.status] = (analytics.statuses[data.status] || 0) + 1;\n  \n  // Priority stats\n  analytics.priorities[data.priority] = (analytics.priorities[data.priority] || 0) + 1;\n  \n  // Story points\n  analytics.storyPoints += data.story_points || 0;\n});\n\nreturn [{ json: analytics }];"
      },
      "name": "Generate Analytics",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [850, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "{{ $json.webhookUrl }}",
        "body": {
          "csv_data": "={{ $('Generate CSV').first().json.csv }}",
          "analytics": "={{ $('Generate Analytics').first().json }}"
        },
        "options": {
          "headers": {
            "Content-Type": "application/json"
          }
        }
      },
      "name": "Send to Dashboard",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [1050, 200]
    }
  ],
  "connections": {
    "Get JIRA Boards": {
      "main": [
        [
          {
            "node": "Get Issues for Board",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Issues for Board": {
      "main": [
        [
          {
            "node": "Transform Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Project Versions": {
      "main": [
        [
          {
            "node": "Transform Data",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Transform Data": {
      "main": [
        [
          {
            "node": "Generate CSV",
            "type": "main",
            "index": 0
          },
          {
            "node": "Generate Analytics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate CSV": {
      "main": [
        [
          {
            "node": "Save CSV File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Analytics": {
      "main": [
        [
          {
            "node": "Send to Dashboard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}